.div-info {
  .nom-repas-container {
    input {
      display: flex;
      justify-content: center;
      flex-direction: row;
      color: white;
      font-size: 1em;
      flex-wrap: wrap;
      margin: 10px auto;
      text-transform: capitalize;
      text-align: center;
      -webkit-appearance: none;
      outline: none;
      border: 2px solid #4d4d4d;
      background-color: rgba(0, 0, 0, 0.8);
      font-weight: bold;
      font-family: MinecraftiaRegular, sans-serif;
      padding-bottom: 4px;
    }

    input:read-only, input:read-only:focus{
      border: none;
    }

    input::placeholder {
      opacity: 0.6;
    }

    input:focus{
      outline: none;

      border: 2px solid #0960a3;
    }
  }
}

