/*@font-face {*/
/*    font-family: 'futura_md_btmedium';*/
/*    src: url('../font/futura-medium/futura_medium_bt_1-webfont.eot');*/
/*    src: url('../font/futura-medium/futura_medium_bt_1-webfont.eot?#iefix') format('embedded-opentype'),*/
/*    url('../font/futura-medium/futura_medium_bt_1-webfont.woff') format('woff'),*/
/*    url('../font/futura-medium/futura_medium_bt_1-webfont.svg#futura_md_btmedium') format('svg');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/


body {
    margin: 0;
    height: auto;
}

body a {
    color: #3DB8D8;
    font-family: MinecraftiaRegular, sans-serif;
    text-decoration: none;
}

#app {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: auto;
    width: 100%;
    overflow: auto;
    height: 100%;
    background-image: url("assets/image/MinecraftFoncer.png");
}

header {
    background-image: url("assets/image/MinecraftHeader.png");
    background-repeat: repeat;
    background-size: 150px;
    position: fixed;
    width: 100%;
    box-shadow: 0 0 30px 0 rgba(160, 160, 160, 0.3);
    overflow: auto;
    z-index: 2;
}

header h1 {
    color: white;
    font-family: MinecraftiaRegular, "sans-serif";
    font-size: 1.3em;
    text-align: center;
    height: auto;
}

main {
    margin-top: 4.75em;
}

#page-wrap {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 551px) {
    #page-wrap {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: auto;
    }

    #page-wrap .container-white {
        margin: 0 0 15px 0;
        border-radius: 0;
    }

    #page-wrap .chips {
        padding-top: 0;
    }
}

.bm-menu span {
    border-bottom: 1px solid #3b3b3b;
}

.bm-item {
    display: inline-block;
    /* Our sidebar item styling */
    font-family: MinecraftiaRegular, sans-serif;
    font-size: 90%;
    text-decoration: none;
    color: white;
    transition: color 0.2s;
    outline: none;
    user-select: none;
    margin-bottom: 1.25em;
}

.menu-item {
    /*padding-right: 1em;*/
    padding-left: 1em;
}


.bm-menu .bm-item-list {
    color: #b8b7ad;
    width: 260px;
    margin-top: 0;
}

.bm-menu {
    /*background: linear-gradient(120deg, #4978B9, #3DB8D8);*/
    background: #492416;
    /*padding-left: 1em;*/
    font-size: 0.9em;
}

.bm-item-list > label.bm-item.label {
    font-size: 1em;
    margin: 0 auto 1em 3.5em;
    font-family: MinecraftiaRegular, sans-serif;
}

.bm-item-list > .bm-item.h1 {
    font-size: 1em;
    text-align: center;
    font-family: MinecraftiaRegular, sans-serif;
    padding: 1em 1em 10px 1em;
    margin-bottom: 0;
    font-weight: 600;
}

.bm-burger-button {
    position: fixed;
    width: 2.25em;
    height: 1.88em;
    left: 0.94em;
    top: 0.94em;
}

.burger-button > button {
    outline: none;
}

.my-menu.bm-menu span {
    margin-right: 1em;
    margin-left: 1em;
}

.container-white {
    background: rgba(0, 0, 0, 0);
    font-family: MinecraftiaRegular, sans-serif;
    border-radius: 8px;
    padding: 0.31em 0.937em;
    text-align: center;
    position: relative;
    color: white;
    /*box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.6);*/
    margin-bottom: 15px;
}

.capitalize {
    text-transform: capitalize;
}

div.user-block {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.07);
    text-align: center;
    bottom: 0;
    padding: 5%;
}

.deconnexion {
    color: white;
}

.fas, .fab {
    margin-right: 0.5em;
}

.imageEpee{
    height: 20px;
}