.craftingTable {
  background-color: #c6c6c6;
  margin-top: 1em;
  height: 13em;
  width: 21em;

  .crafting {
    font-size: 1em;
    font-weight: bold;
    padding-left: 1em;
    color: #404040;
  }

  .arrow {
    float: left;
    padding-top: 2.5em;
    padding-right: 2em;
    vertical-align:top;
  }

  .result {
    margin-top: 2.5em;
    float: left;
    text-align: center;
    box-sizing: border-box;
    background-color: #8b8b8b;
    border-top: thick double #373737;
    border-left: thick double #373737;
    border-right: double #FFFFFF;
    border-bottom: double #FFFFFF;
    width: 44px;
    height: 44px;
  }
}

.fa-arrow-right {
  color: #8b8b8b;
}

.clear {
  clear: both;
}

.grid {
  width: 175px;
  float: left;
  padding-left: 1em;

  .grid-element {
    background-color: #8b8b8b;
    border-top: thick double #373737;
    border-left: thick double #373737;
    border-right: double #FFFFFF;
    border-bottom: double #FFFFFF;
    width: 36px;
    height: 36px;
    float: left;
  }
}

img.displayed {
  display: block;
  margin: auto;
  padding: 2px;
  height: 30px;
}

